body{
    margin:0px; 
    padding: 0px;
    background-color:rgb(35, 29, 39);
}

header{
    background-color:rgb(187, 193, 247);
}

h1{
    font-family: 'VT323', monospace;
    font-weight: normal;
    font-size: 55px;
    color: rgb(124, 83, 189);;
    margin:0;
    padding: 25px;
    padding-left: 26%;
}

img.cityscape{
    width: 100%;
    margin-top: 15%;
}

.formdiv{
    background-color:rgb(177, 152, 197);
   
}

.reccdiv{
    background-color:rgb(35, 29, 39);
}

h3{
    font-family: 'VT323', monospace;
    font-weight: normal;
    font-size: 40px;
    color:rgb(177, 152, 197);
    text-align: center;
    margin:0;
    padding: 40px;
    padding-top: 5%;
}

.demonimg{
    width: 500px;
    height: auto;
}

.totoroimg{
    width: 500px;
    height: auto;
}