body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(35, 29, 39);
}

header {
  background-color: rgb(187, 193, 247);
}

h1 {
  font-family: "VT323", monospace;
  font-weight: normal;
  font-size: 55px;
  color: rgb(124, 83, 189);
  margin: 0;
  padding: 25px;
  padding-left: 26%;
}

img.cityscape {
  width: 100%;
  margin-top: 15%;
}

.formdiv {
  background-color: rgb(177, 152, 197);
  text-align: center;
  justify-content: center;
  padding-top: 50px;
}

.reccdiv {
  background-color: rgb(35, 29, 39);
}

h3 {
  font-family: "VT323", monospace;
  font-weight: normal;
  font-size: 40px;
  color: rgb(177, 152, 197);
  text-align: center;
  margin: 0;
  padding: 40px;
  padding-top: 5%;
}

.rec-flex {
  display: flex;
  position: relative;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.rec-flex img {
  display: flex;
  position: relative;
  gap: 30px;
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.rec-flex span {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  width: 350px;
  display: flex;
  font-size: 10pt;
  padding-left: 40px;
  padding-top: 5px;
}

input.search {
  width: 30%;
  outline: 0;
  padding: 10px 10px 10px 25px;
  border-radius: 30px;
  font-family: "VT323", monospace;
  font-size: 14pt;
}

#searchbutton {
  border-radius: 30px;
  padding: 10px 10px 10px 25px;
  font-family: "VT323", monospace;
  color: white;
  background-color: rgb(124, 83, 189);
  font-size: 14pt;
}

input.quotes {
  padding: 300px 300px 300px 25px;
  background-color: rgb(124, 83, 189);
  border-radius: 15px;
  outline: 0;
  padding-top: 50px;
  z-index: 1;
}
